    html,
    body {
        margin: 0px 0px;
        margin-top: 0px;
    }
    
    body {
        height: 1000px;
        background-color: darkgrey;
        background-image: linear-gradient(darkgray, gray);
    }
    
    div {
        display: block;
    }
    
    .btn-grupo .botaotop {
        background-color: cadetblue;
        border: 1px solid cadetblue;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        float: left;
    }
    
    .btn-grupo .botaotop:not(:last-child) {
        border-right: none;
    }
    
    .btn-grupo .botaotop:hover {
        background-color: aqua;
    }
    /*.topo {
        background-color: grey;
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 40px;
        color: honeydew;
        font-size: 40px;
        text-align: center;
        float: left;
        padding: 0px;
        display: block;
    }*/
    
    figure {
        margin: 0px auto;
    }
    
    .centro {
        text-align: center;
    }
    
    h1.titulo {
        color: white;
        font-size: 70px;
        margin-top: 100px;
        letter-spacing: -2px;
        line-height: 0, 9;
        text-shadow: 1px 1px black;
    }
    
    h2.titulo {
        color: white;
        line-height: 0, 9;
        padding-top: 30px;
        text-shadow: 1px 1px black;
    }
    
    #image_background {
        background: url(img/clima1.jpg);
        background-size: cover;
        height: 500px;
        padding: 10px;
    }
    
    .divimg {
        margin: 200px 300px;
    }
    
    .divtext {
        margin: 200px 200px;
    }
    
    .row:after {
        clear: both;
        display: table;
        content: "";
    }
    
    .coluna {
        float: left;
        width: 32.33%;
        padding: 5px;
        text-align: center;
    }
    
    @media screen and (max-width:600px) {
        .coluna {
            width: 100%;
        }
    }