    html,
    body {
        margin: 0px 0px;
        margin-top: 0px;
        background-color: gray
    }
    
    html {
        font-family: sans-serif;
    }
    
    .botaum {
        margin: 0px;
        float: left;
        padding: 14px;
        position: fixed;
    }
    
    .botaum1 {
        background-color: cadetblue;
        border: cadetblue solid 1px;
        border-radius: 10px;
        color: white;
        white-space: normal;
        padding: 30px 10px 20px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .botaum1:hover {
        background-color: rgb(47, 87, 88);
        border: rgb(47, 87, 88) solid 1px;
        transition-duration: 0.7s;
    }
    
    .centro {
        text-align: center;
    }
    
    h1.titulo {
        color: white;
        font-size: 70px;
        margin-top: 100px;
        letter-spacing: -2px;
        line-height: 0, 9;
        text-shadow: 2px 2px black;
    }
    
    h2.titulo {
        color: white;
        line-height: 0, 9;
        padding-top: 30px;
        text-shadow: 1px 1px black;
    }
    
    #image_background {
        background: url(img/clima1.jpg);
        background-size: cover;
        padding: 115px;
    }
    
    div {
        margin: 0px;
        padding: 0px;
        display: block;
    }
    
    .row:after {
        clear: both;
        display: table;
        content: "";
    }
    
    .coluna {
        float: left;
        width: 32.33%;
        padding: 6.5px;
        text-align: center;
    }
    
    .c1 {
        background-color: #ccc;
        background-size: cover;
    }
    
    @media screen and (max-width:600px) {
        .coluna {
            width: 97.7%;
        }
    }
    
    .whohelp {
        background-color: #aaa;
        height: 500px;
        margin: 0px;
    }
    
    #rodape {
        background-color: rgb(53, 53, 53);
        color: white;
        text-align: center;
        height: 50px;
    }